# .coveragerc to control coverage.py
[run]
source = ./server
omit =
    */tests/*
    */models/*
    */gql/schema.py
    */gql/gtfs_types.py
    */gql/gtfs_rt_types.py 
    */gql/geometry_types.py

[report]
# Show missing lines in the report
show_missing = True

# Exclude lines from coverage with comments
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about missing debug-only code
    def __repr__

    # Don't complain if tests don't hit defensive assertion code
    raise AssertionError
    raise NotImplementedError

    # Don't complain if non-runnable code isn't run
    if __name__ == .__main__.:

    # Don't complain about abstract methods
    @(abc\.)?abstractmethod

[html]
directory = htmlcov