pytz==2020.1
Flask==2.2.2
Flask-Cors==3.0.9
requests==2.25.0
peewee==3.13.3
gtfs-realtime-bindings
psycopg2-binary
flask_graphql
graphene==2.1.8
gunicorn
autopep8
coverage
Werkzeug==2.2.2
typing==3.7.4.3