pytz==2020.1
Flask==2.2.2
Flask-Cors==3.0.9
requests==2.25.0
peewee==3.13.3
gtfs-realtime-bindings==1.0.0
psycopg2-binary==2.9.6
flask_graphql==2.0.1
graphene==2.1.8
gunicorn==20.1.0
autopep8==2.0.2
coverage==7.2.3
Werkzeug==2.2.2
typing==3.7.4.3