pytz==2020.1
Flask==2.2.5
Flask-Cors==6.0.0
requests==2.32.4
peewee==3.13.3
gtfs-realtime-bindings==1.0.0
psycopg2-binary==2.9.6
graphene==3.2.2
gunicorn==22.0.0
coverage==7.2.3
Werkzeug==3.0.6
typing==3.7.4.3
graphql_server===3.0.0
black===24.3.0
testcontainers==3.7.1
numpy<2
shapely==2.0.1