pytz==2020.1
Flask==2.2.2
Flask-Cors==3.0.9
requests==2.30.0
peewee==3.13.3
gtfs-realtime-bindings==1.0.0
psycopg2-binary==2.9.6
graphene==3.2.2
gunicorn==20.1.0
coverage==7.2.3
Werkzeug==2.2.2
typing==3.7.4.3
graphql_server===3.0.0b6
black===23.3.0
testcontainers==3.7.1
numpy<2
shapely==2.0.1